body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**************************************************************************************************************************************************
                                                                Header
**************************************************************************************************************************************************/
.navbar {
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #E0E0E0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

/*logo*/
.container img {
    width: 5vw;
    height: 8vh;
}

/*NavLinks*/
.navLinks {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navLinks li ,.navLinks a{
    display: flex;
    height: 4vh;
    list-style-type: none;
    text-decoration: none;
    color: #000000;
    align-items: center;
    padding: 5px 8px;    
}
.navLinks a:hover {
    color: #E0E0E0;
    background-color: #303030;
    border-radius: 10px;
}
/*DropDown*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10vw;
    box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
.dropdown-content a {
    color: #000000;
    display: flex;
    text-decoration: none;
}

/*Sign Up & Login In*/
.navLinks .btn{
    width: 5vw;
    height: 4vh;
}
.navLinks .signUp{
    background-color: transparent;
    color: #030303;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
.navLinks .signUp:hover{
    background-color: #030303;
    color: #E0E0E0;
}
.navLinks .login{
    background-color: #030303;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
.navLinks .login:hover{
    color: #030303;
    background-color: transparent;
}


/**************************************************************************************************************************************************
                                                                MainBody
**************************************************************************************************************************************************/